body{
    font-family: nunito, sans-serif;
    background-color: #7D8597;
    text-align: center;
    padding: 30px;
}
h1{
    color: #001845;
    font-size: 3em;
    margin-bottom: 20px;
}
textarea{
    width: 80%;
    height: 140px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #33415C;
    border-radius: 5px;
    margin-bottom: 20px;
}
button{
    background-color: #33415C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0353A4;
}
#result{
    margin-top: 25px;
    font-size: 18px;
}
p{
    font-family: "playwrite NZ Basic",cursive;
    font-size: 1.2em;
}
.low{
    color: green;
}
.medium{
    color: orange;
}
.high{
    color: red;
}
